/*見出し*/
.midasi{
  text-align: center;
  color: white;
  background-color: navy;
  font-family: fantasy;
}

/*見えている部分*/
.visible{
  max-width: 450px;
    margin: 15px auto;
}
/*アイコン*/
.icon{
  width: auto;
  height: 20px;
}
/*入力部分*/
.input{
  max-width: 450px;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start; 
  margin-left: auto;
  margin-right: auto;
  
}

/*吹き出し*/
.balloon_r{
  margin: 30px 0;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start; /*縦位置を上揃え*/
/*   align-items: center; */ /*縦位置を真ん中揃え*/
}
.balloon_r{
  justify-content:flex-end;
}
/*.faceicon img{
  width: 80px; //任意のサイズ
  height: auto;
}
.balloon_r .faceicon{
  margin-left:25px;
}*/

.says {
  max-width:500px; 
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  background: #99dddd;
  box-sizing:border-box;
  margin:0 !important;
  line-height:1.5;
/*   align-items: center; */
}
.says p{
  margin:8px 0 0 !important; 
}
.says p:first-child{
  margin-top:0 !important;
}
.says:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
/*   margin-top:-3px;  */
}

.balloon_r .says:after {
  right: -26px;
  border-left: 22px solid #99dddd;
}